<br>
<h4 style="text-align: center;">Estos son las notificaciones registrados en el sistema</h4>
<br>
<div class="container">
  <br>
  <div *ngFor="let i of noti" class="row" (click)="actualizarVista(i)">

    <div class="h-100 justify-content-between col">
      <h5 class="mb-1">{{i.nombre}}</h5>
      <h6>Numero: {{i.cabezaGanado}}</h6>
      <p class="mb-1">{{i.alerta}}</p>
    </div>
    <div class="col-1">
    <span *ngIf="i.fueLeida==false" class="badge bg-dark rounded-pill">nuevo</span>
    </div>
  <hr>
  </div>
</div>
