<h4 class="text-dark" style="text-align: center;">Estos son los Individuos registrados en el sistema</h4>
<br>
<div class="container border-bottom border-top border-dark">
  <div class="row align-items-center h-100">
    <div class="col">
      <h4>Individuo</h4>
    </div>
    <div class="col">
      <h4>Pasos</h4>
      <span>(Ult 24hs)</span>
    </div>
    <div class="col">
      <h4>Temperatura actual</h4>
      <span>(En grados Centigrados)</span>
    </div>
  </div>
</div>
<div *ngFor="let vaca of vacas" class="container border-bottom border-dark">
  <div class="row align-items-center h-100" [routerLink]="['/informeIndividuo',vaca.idGanado]" href="">
    <div class="col">
      <h4>Vaca n° {{vaca.idGanado}}</h4>
      <p>Cuig caravana: {{vaca.cuig}}</p>
    </div>
    <div class="col">
      <i class="bi bi-speedometer2" style="font-size: 3rem;"></i>
      <h3>{{vaca.pasos}}</h3>
    </div>
    <div class="col">
      <i class="bi bi-thermometer-half" style="font-size: 3rem;"></i>
      <h3>{{vaca.temperatura}}°</h3>
    </div>
  </div>
</div>
