<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <h4>Informacion del Inviduo</h4>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, dolor quo consectetur fugiat soluta nesciunt odio beatae ex placeat voluptatem reiciendis fuga. Aperiam dolorum quos accusamus nostrum unde tempora porro.
    </div>
    <div class="col">
      <h4>Lista de Vacunas aplicadas</h4>
      <br>
      <app-lista-vacunas></app-lista-vacunas>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4>Grafico de Temperatura</h4>
      <app-temperatura></app-temperatura>
    </div>
    <div class="col">
      <h4>Grafico de Pasos</h4>
      <app-pasos></app-pasos>
    </div>
  </div>
</div>
