<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <h4>Informacion del Inviduo</h4>
      <h6>Vaca n° {{datoVaca}}</h6>
      <p>Cuig caravana: {{datoVaca}}</p>
    </div>
    <div class="col">
      <h4>Lista de Vacunas aplicadas</h4>
      <br>
      <app-lista-vacunas></app-lista-vacunas>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4>Grafico de Temperatura</h4>
      <app-temperatura></app-temperatura>
    </div>
    <div class="col">
      <h4>Grafico de Pasos</h4>
      <app-pasos></app-pasos>
    </div>
  </div>
</div>
